In [87]:
import pandas as pd

In [ ]:
salesdf = pd.read_csv(r"C:\Users\Nitin\Documents\DA Projects\amazon_sales_data 2025.csv")     # Reading csv file
salesdf

,Order ID,Date,Product,Category,Price,Quantity,Total Sales,Customer Name,Customer Location,Payment Method,Status
0,ORD0001,14-03-25,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,20-03-25,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,15-02-25,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,19-02-25,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,10-03-25,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,17-03-25,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,30-03-25,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,05-03-25,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,08-03-25,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,19-02-25,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [ ]:
salesdf.rename(columns={'Order ID':'Order_ID','Total Sales':'Total_Sales','Customer Name':'Customer_Name','Customer Location':'Customer_Location','Payment Method':'Payment_Method'},inplace=True)
salesdf                                       # Renaming the necessary columns

,Order_ID,Date,Product,Category,Price,Quantity,Total_Sales,Customer_Name,Customer_Location,Payment_Method,Status
0,ORD0001,14-03-25,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,20-03-25,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,15-02-25,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,19-02-25,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,10-03-25,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,17-03-25,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,30-03-25,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,05-03-25,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,08-03-25,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,19-02-25,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [93]:
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           250 non-null    object
 1   Date               250 non-null    object
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total_Sales        250 non-null    int64
 7   Customer_Name      250 non-null    object
 8   Customer_Location  250 non-null    object
 9   Payment_Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: int64(3), object(8)
memory usage: 21.6+ KB

In [ ]:
salesdf['Date']=pd.to_datetime(salesdf['Date'])       #Changing the data type of Date
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           250 non-null    object
 1   Date               250 non-null    datetime64[ns]
 2   Product            250 non-null    object
 3   Category           250 non-null    object
 4   Price              250 non-null    int64
 5   Quantity           250 non-null    int64
 6   Total_Sales        250 non-null    int64
 7   Customer_Name      250 non-null    object
 8   Customer_Location  250 non-null    object
 9   Payment_Method     250 non-null    object
 10  Status             250 non-null    object
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 21.6+ KB

C:\Users\Nitin\AppData\Local\Temp\ipykernel_22088\3452751573.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  salesdf['Date']=pd.to_datetime(salesdf['Date'])

In [ ]:
salesdf['Date']=pd.to_datetime(salesdf['Date'],format='%Y-%m-%d')       # Changing the format of Date
salesdf

,Order_ID,Date,Product,Category,Price,Quantity,Total_Sales,Customer_Name,Customer_Location,Payment_Method,Status
0,ORD0001,2025-03-14,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,2025-03-20,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,2025-02-15,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,2025-02-19,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,2025-10-03,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,2025-03-17,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,2025-03-30,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,2025-05-03,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,2025-08-03,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,2025-02-19,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [ ]:
salesdf.insert(1,'Year',salesdf['Date'].dt.year)
salesdf.insert(2,'Month_Name',salesdf['Date'].dt.month_name())
salesdf.insert(3,'Month',salesdf['Date'].dt.month)                               #Adding Year,Month_name,Month,Day columns
salesdf.insert(4,'Day',salesdf['Date'].dt.day)
salesdf

,Order_ID,Year,Month_Name,Month,Day,Date,Product,Category,Price,Quantity,Total_Sales,Customer_Name,Customer_Location,Payment_Method,Status
0,ORD0001,2025,March,3,14,2025-03-14,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,2025,March,3,20,2025-03-20,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,2025,February,2,15,2025-02-15,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,2025,February,2,19,2025-02-19,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,2025,October,10,3,2025-10-03,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,2025,March,3,17,2025-03-17,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,2025,March,3,30,2025-03-30,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,2025,May,5,3,2025-05-03,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,2025,August,8,3,2025-08-03,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,2025,February,2,19,2025-02-19,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [ ]:
salesdf.drop(columns='Date',inplace=True)                      #Dropping the Date column
salesdf

,Order_ID,Year,Month_Name,Month,Day,Product,Category,Price,Quantity,Total_Sales,Customer_Name,Customer_Location,Payment_Method,Status
0,ORD0001,2025,March,3,14,Running Shoes,Footwear,60,3,180,Emma Clark,New York,Debit Card,Cancelled
1,ORD0002,2025,March,3,20,Headphones,Electronics,100,4,400,Emily Johnson,San Francisco,Debit Card,Pending
2,ORD0003,2025,February,2,15,Running Shoes,Footwear,60,2,120,John Doe,Denver,Amazon Pay,Cancelled
3,ORD0004,2025,February,2,19,Running Shoes,Footwear,60,3,180,Olivia Wilson,Dallas,Credit Card,Pending
4,ORD0005,2025,October,10,3,Smartwatch,Electronics,150,3,450,Emma Clark,New York,Debit Card,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,ORD0246,2025,March,3,17,T-Shirt,Clothing,20,2,40,Daniel Harris,Miami,Debit Card,Cancelled
246,ORD0247,2025,March,3,30,Jeans,Clothing,40,1,40,Sophia Miller,Dallas,Debit Card,Cancelled
247,ORD0248,2025,May,5,3,T-Shirt,Clothing,20,2,40,Chris White,Denver,Debit Card,Cancelled
248,ORD0249,2025,August,8,3,Smartwatch,Electronics,150,3,450,Emily Johnson,New York,Debit Card,Cancelled
249,ORD0250,2025,February,2,19,Smartphone,Electronics,500,4,2000,Emily Johnson,Seattle,Amazon Pay,Completed

In [105]:
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order_ID           250 non-null    object
 1   Year               250 non-null    int32
 2   Month_Name         250 non-null    object
 3   Month              250 non-null    int32
 4   Day                250 non-null    int32
 5   Product            250 non-null    object
 6   Category           250 non-null    object
 7   Price              250 non-null    int64
 8   Quantity           250 non-null    int64
 9   Total_Sales        250 non-null    int64
 10  Customer_Name      250 non-null    object
 11  Customer_Location  250 non-null    object
 12  Payment_Method     250 non-null    object
 13  Status             250 non-null    object
dtypes: int32(3), int64(3), object(8)
memory usage: 24.5+ KB

In [ ]:
salesdf.describe()

         Year       Month         Day        Price    Quantity  Total_Sales
count   250.0  250.000000  250.000000   250.000000  250.000000   250.000000
mean   2025.0    4.108000   14.480000   343.580000    2.856000   975.380000
std       0.0    2.887505    9.773006   380.635808    1.429489  1252.112254
min    2025.0    1.000000    2.000000    15.000000    1.000000    15.000000
25%    2025.0    2.000000    3.000000    40.000000    2.000000   100.000000
50%    2025.0    3.000000   16.000000   150.000000    3.000000   400.000000
75%    2025.0    5.000000   23.000000   600.000000    4.000000  1500.000000
max    2025.0   12.000000   31.000000  1200.000000    5.000000  6000.000000

In [ ]:
salesdf.to_csv('sales_cleaned.csv',index=False)                      #Exports the file

In [ ]:
salesdf.rename(columns={'Month':'Month_num'},inplace=True)              #Renaming the Month column